* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

:root {
	/* Background of the main view, and also background of the header in the narrow version */
	--red-background-main: #a03322;

	/* Background of the header in the narrow version */
	--red-background-narrow: #961907;

	/* In the narrow version, in the start view, we need the letter of the selected tab to be this color */
	--tab-letters-central-selected-view: #f59c01;
}

html {
	font-size: 62.5%;
}	

.whole {
	width: 100%;
	height: 100%;
	position: relative;
}

.centeredFlex, .centeredFlex a{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

main {
	background-color: var(--red-background-main);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;	
}

/* ------------- FORMAT FOR BUTTONS THAT DISPLAY ON LATERAL MENUS ------------ */

/*Buttons that display the different main views */
.mainMenuButton{
	background-size: cover;
	width: 100%;
	height: 6.5vh;
	outline: none;
	font-family: 'FontRupes'; 
	font-size: 2vw;
}

/*Subclass of mainMenuButton*/
.darkRed_mb{
	background-image: url('../img/button/button_darkred.png');
}

/*Subclass of mainMenuButton*/
.red_mb{
	background-image: url('../img/button/button_red.png');
}

/*Subclass of mainMenuButton*/
.gray_mb{
	background-image: url('../img/button/button_gray.png');
}

/*Subclass of mainMenuButton*/
.orange_mb{
	background-image: url('../img/button/button_orange.png');
}

/* ------------- END OF FORMAT FOR BUTTONS THAT DISPLAY ON LATERAL MENUS ------------ */

/* These two styles let the respective buttons change their respective colors when the mouse
   is located over them */ 
#finishButton:hover, #sendEmailButton:hover{
	color: white;
}

.centeredBold_FontTexto{
	text-align: center; 
	font-family: 'FontTexto';
	font-weight: 600;
}

/* For the text that indicates the kind (anthropomorphic, etc.) of the slider figure */
.centered_FontSub{
	text-align: center; 
	font-family: 'FontSub';
}

/* For the text that appears on the description of a slider figure */
.centered_FontRupes{
	text-align: center; 
	font-family: 'FontRupes';
}

p {
	font-family: "bauhaus";
}

/* It is used to put the input radio next to the text of a possible answer in the quiz */
.inputAnswer{
	display: table;
}
.inputAnswer input, .inputAnswer label{
	display: table-cell;
	vertical-align: middle;
}

/* This inculdes the index-view, and an empty space (transparent) in which the user can click
   to close the index*/
#index-view-container {
	height: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

/* This is the visible part of the index (the drawer navigator) that is opened with the hamburger menu*/
#index-view {
	height: 100%;
	flex-grow: 1; /* It fills the remaining empty space */
	flex-direction:column;
	align-items: center;
}

/* For the english/spanish buttons that appear on the language menu of the index*/
.index-language_icon{
	position:absolute; 
	height: 70%;
}
.index-language_icon:hover{
	height: 80%;
}

@font-face {
	font-family: FontRupes;
	src: url(../ttf/BAHAMASN.ttf);
}

@font-face {
	font-family: FontTexto;
	src: url(../ttf/Florsn01.ttf);
}

@font-face {
	font-family: FontSub;
	src: url(../ttf/BAHAMASB.ttf);
}