* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	position: relative;*/
}

html {
	/*font-size: 62.5%;*/
}	

.whole {
	width: 100%;
	height: 100%;
}

.centeredFlex, .centeredFlex div, .centeredFlex a{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

header {
	background-color: #cc6600;
	width: 100%; 
	height: 21vh; 
	display: flex; 
	align-items: flex-end;
}

header .stone-texture {
	width: 100%;
	height: 85%;
	background-color: #cfc8c2;
	background-image: url("../img/textura-de-piedra.png");
	background-size: calc(100% / 4) auto;
	background-repeat: space;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.stone-texture .div1 { grid-area: 1 / 1 / 2 / 2;}
.stone-texture .div2 { grid-area: 1 / 2 / 2 / 4;}
.stone-texture .div3 { grid-area: 1 / 4 / 2 / 5;}
.stone-texture div {display: flex; justify-content: center; align-items: center;}

main {
	background-color: #a03322;
	width: 100%;
	height: 72vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

main .main-container {
	width: 100%; 
	display: flex; 
	flex-direction: row;
}

#title{
	font-family: 'FontRupes'; 
	font-weight: lighter; 
	font-size: 1.7vw; 
	text-align: center; 
	color: white;
}

#img{
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
}

/*For the two red borders with vertical text*/
main .border{
	width: 5%; 
	height: 100%; 
	display: flex; 
	justify-content: center; 
	align-items: flex-end; 
	padding-bottom: 1%;
}

.vertical-text-bottom-to-top{
	transform: rotate(180deg); 
	writing-mode: vertical-lr; 
	font-family: sans-serif; 
	font-size: 0.92vw; 
	text-align: center; 
	color: white;
}

/*For the menus that may appear on the left and/or the right of the view*/
.columnMenu{
	height: 100%; 
	width: 35%; 
	display: flex; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: center; 
	background-image: url('../img/fondo_intro.jpg');
}

/* ------------- FORMAT FOR BUTTONS THAT DISPLAY ON LATERAL MENUS ------------ */

/*Buttons that display the different main views */
.menuButton{
	background-size: cover;
	width: 100%;
	height: 6.5vh;
	outline: none;
	font-family: 'FontRupes'; 
	font-size: 2vw;
}

/*Text of a lateral menu button*/
.text_mb{
	color: white;
	font-weight: lighter;
	font-size: smaller;
}

/*Subclass of menuButton*/
.darkRed_mb{
	background-image: url('../img/button/button_darkred.png');
}

/*Subclass of menuButton*/
.red_mb{
	background-image: url('../img/button/button_red.png');
}

/*Subclass of menuButton*/
.gray_mb{
	background-image: url('../img/button/button_gray.png');
}

/*Subclass of menuButton*/
.orange_mb{
	background-image: url('../img/button/button_orange.png');
}

/* ------------- END OF FORMAT FOR BUTTONS THAT DISPLAY ON LATERAL MENUS ------------ */

footer{
	bottom: 0px;
	width: 100%;
	height: 7vh;
	background: black;
}

p {
	font-family: "bauhaus";
	font-size: 1.5vw;
}

input[type=radio] {
	width: 1.5em;
	height: 1.5em;
}

@font-face {
	font-family:FontRupes;
	src: url(../ttf/BAHAMASN.ttf);
}

@font-face {
	font-family: FontTexto;
	src: url(../ttf/Florsn01.ttf);
}

@font-face {
	font-family: FontSub;
	src: url(../ttf/BAHAMASB.ttf);
}

/*----------- DESCARTADOS ------------*/

/*html {
	margin: 0px;
	height: 100%;
	width: 100%;
}	*/

/*body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 100%;
	/*background-image: url(../img/fondo_petro.png);*/
/*}*/

/*main {*/
	/*position: relative;*/
/*	display: flex;
	flex-direction: column;
	height: 100%;
	top: 0;
	left: 0;*/
	/*background-image: url(../img/fondo_petro.png);*/
/*}*/

/* For the header section that has the RUPESTRARIUM title */
/*.stoneTexture{
	background-image: url('../img/textura-de-piedra.png'); 
	background-size: calc(100% / 4) 75%;
	background-repeat: space;
	flex-direction: row;
}*/

/* LO PUSO LEONARDO
main .main-container {
	background-color: #cc6600;
	width: 1270px;
	height: 90%;
	margin-top: auto;
}*/

/*main > h1 {
	font-family: 'FontRupes'; 
	font-weight: lighter; 
	font-size: 1.7vw; 
	text-align: center;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
}*/
