html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}	

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url(./img/fondo_petro.png);
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}	

.button{
    background: transparent;
    width: 20%;
    height: 6.5vh;
    outline: none;
}

p {
    font-family: "bauhaus";
    font-size: 1.5vw;
}

input[type=radio] {
    width: 1.5em;
    height: 1.5em;
}

@font-face {
    font-family:FontRupes;
    src: url(./ttf/BAHAMASN.ttf);
}

@font-face {
    font-family: FontTexto;
    src: url(./ttf/Florsn01.ttf);
}

@font-face {
    font-family: FontSub;
    src: url(./ttf/BAHAMASB.ttf);
}