* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}	
 

header {
    background-color: #cc6600;
    width: 100%; 
    height: 21vh; 
    display: flex; 
    align-items: flex-end;
}
header .stone-texture {
    width: 100%;
    height: 85%;
    background-color: #cfc8c2;
    background-image: url("./img/textura-de-piedra.png");
    background-size: calc(100% / 4) auto;
    background-repeat: space;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.stone-texture .div1 { grid-area: 1 / 1 / 2 / 2;}
.stone-texture .div2 { grid-area: 1 / 2 / 2 / 4;}
.stone-texture .div3 { grid-area: 1 / 4 / 2 / 5;}
.stone-texture div {display: flex; justify-content: center; align-items: center;}


main {
    background: #a03322;
    width: 100%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* align-items: flex-end; */
}
main .tittle {height: 8%;}
main > h1 {
    /* align-self: flex-start; */
    font-family: 'FontRupes'; 
	font-weight: lighter; 
	font-size: 1.7vw; 
    text-align: center;
    /* text-align: center;  */
	color: white;

}
main .main-container {
    width: 100%; 
	display: flex; 
	flex-direction: row;
}
main .border{
	width: 5%; 
	height: 100%; 
	display: flex; 
	justify-content: center; 
	align-items: flex-end; 
	padding-bottom: 1%;
}



.main-container .left-nav { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.main-container .main-section { grid-area: 1 / 2 / 2 / 7;
    background-color: rgb(82, 82, 82);
    background-image: url("./img/fondo_petro.png");
}
.main-container .right-nav { 
    grid-area: 1 / 7 / 2 / 8;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.main-container button {
    height: 38px;
}

.main-container .left-nav .img-left {
    background-color: aquamarine;
    flex-grow: 1;
}
.main-container .right-nav .img-right {
    background-color: rgb(0, 70, 46);
    flex-grow: 1;
}



main #rotulo-izq {
    position: absolute; 
    left: 0px;
    bottom: 0px;
    background-color: rgb(243, 243, 113);
    font-size: 1.4rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
main #rotulo-der {
    position: absolute; 
    right: 0px;
    bottom: 0px;
    background-color: rgb(243, 243, 113);
    font-size: 1.4rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}


.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

/* header img {
    display: block; 
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */



/* 
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url(./img/fondo_petro.png);
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}	

.button{
    background: transparent;
    width: 20%;
    height: 6.5vh;
    outline: none;
}

p {
    font-family: "bauhaus";
    font-size: 1.5vw;
}

/* input[type=radio] {
    width: 1.5em;
    height: 1.5em;
} */

@font-face {
    font-family:FontRupes;
    src: url(./ttf/BAHAMASN.ttf);
}

@font-face {
    font-family: FontTexto;
    src: url(./ttf/Florsn01.ttf);
}

@font-face {
    font-family: FontSub;
    src: url(./ttf/BAHAMASB.ttf);
} 